# Deploy 12345
## Levantamento de informações

* Versão do banco

In [ ]:
USE Teste
SELECT @@VERSION AS 'Versão do Banco'

* Existência da tabela

In [ ]:
IF EXISTS (SELECT 1 FROM sys.objects WHERE name = 'ABCD')
    PRINT 'EXISTE!!'
ELSE
    PRINT 'NÃO EXISTE'

## Criação dos objetos
* Tabela

In [ ]:
CREATE TABLE ABCD (
    ID INT IDENTITY PRIMARY KEY,
    NOME VARCHAR (100),
    CIDADE VARCHAR (100)
)

* Procedure

In [ ]:
CREATE PROC InsertABCD (
    @Nome VARCHAR (100),
    @Cidade VARCHAR (100)
)
AS
    INSERT INTO ABCD (Nome, Cidade)
    VALUES (@Nome, @Cidade)
GO

## Insert de valores default

In [ ]:
EXEC InsertABCD 'João', 'Porto Alegre'
EXEC InsertABCD 'Maria', 'São Paulo'
EXEC InsertABCD 'Paulo', 'São Bernardo do Campo'
EXEC InsertABCD 'José', 'Rio de Janeiro'

## Validação

In [ ]:
SELECT ID, Nome, Cidade FROM ABCD